<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu">
                <i class="fa fa-angle-down fs-16"></i>
            </button>
            <button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar">
                <i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="/Home" class="detailed">
                    <span class="title">Dashboard</span>
                </a>
                <span class="@ViewData["HomeActive"] icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            <li class="">
                <a href="/About" class="detailed">
                    <span class="title">About</span>
                </a>
                <span class="@ViewData["AboutActive"] icon-thumbnail"><i class="fa fa-user"></i></span>
            </li>
            <li class="">
                <a href="/Skill"><span class="title">Skill</span></a>
                <span class="@ViewData["SkillActive"] icon-thumbnail"><i class="fa fa-line-chart"></i></span>
            </li>
            <li class="">
                <a href="/Service"><span class="title">Service</span></a>
                <span class="@ViewData["ServiceActive"] icon-thumbnail"><i class="fa fa-cogs"></i></span>
            </li>
            <li class="">
                <a href="/Portfolio"><span class="title">Portfolio</span></a>
                <span class="@ViewData["PortfolioActive"] icon-thumbnail"><i class="fa fa-image"></i></span>
            </li>
            <li class="">
                <a href="/Contact"><span class="title">Contact Us</span></a>
                <span class="@ViewData["ContactActive"] icon-thumbnail"><i class="fa fa-phone"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>